<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707270822758-701oq555coi41lkn6gmg8calobcf08j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707270822758-701oq555coi41lkn6gmg8calobcf08j1</string>
	<key>API_KEY</key>
	<string>AIzaSyDS1CADTy8NZcPDnVd1vv-HERkHrHjSWPA</string>
	<key>GCM_SENDER_ID</key>
	<string>707270822758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.nexty.ezkey</string>
	<key>PROJECT_ID</key>
	<string>ez-key</string>
	<key>STORAGE_BUCKET</key>
	<string>ez-key.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707270822758:ios:aeb2a481f817b1e4</string>
	<key>DATABASE_URL</key>
	<string>https://ez-key.firebaseio.com</string>
</dict>
</plist>