<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NextyWallet.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>794D1B3D8741DDF1125ABE0FE9C77DEABE4EAE2F</string>
				<key>dateExpires</key>
				<string>6/11/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HH26QMLFDN.org.reactjs.native.example.NextyWallet</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>HH26QMLFDN</string>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>HH26QMLFDN.org.reactjs.native.example.NextyWallet</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>NextyWallet.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>915c9c6f-3a06-467a-955f-1dec9b640c80</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.reactjs.native.example.NextyWallet</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HH26QMLFDN</string>
				<key>name</key>
				<string>Tran Dang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
